body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

img.profile {
  height: 300px;
  border-radius: 50%;
  margin: 15px;
}

h1 {
  font-size: 100px;
}

.row {
  display: flex;
}
