body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

img.profile {
  height: 300px;
  border-radius: 50%;
  margin: 15px;
}

h1 {
  font-size: 100px;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.bio {
  border: #88aeff6e;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 30px;
  height: 500px;
}
